@import './reset';
@import './mixins';

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#wrapper {  
    display: grid;
    align-items: center;
    justify-content: center;
  
    height: 60vh;
    width: 100vw;
  
}

#carousel-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 48px 1fr 48px;
    grid-template-rows: 1fr 10px;
    width: 100vw;
    height: 50vh;
    background-color: rgba(248, 248, 248, 0.438);
}

#slides {
    justify-self: center;
    align-self: center;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
    background-color: white;
}
#slides > div {
    width: 100%;
    height: 100%;
    
}

#bottom-dot-container {
   display: flex;
    gap: 10px;
    grid-row: 2;
    height: 20px;
    grid-column: 2;
    width: fit-content;
    justify-self: center;
    align-self: end;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid rgb(116, 118, 129);
}

.dot:hover {
    cursor: pointer;
}

.fill {
    background-color: rgb(116, 118, 129);
}

#arrow-left {
    position: absolute;
    justify-self: flex-start;
    width: 48px;
    aspect-ratio: 1.5;
    appearance: none;
    background-color: transparent;
    border:none;
    > img {
        width: 48px;
    }
}

#arrow-right {
    position: absolute;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    aspect-ratio: 1.5;
    appearance: none;
    background-color: transparent;
    border:none;
    > img {
        width: 48px;
    }
}

#first-slide {
    background-color: rgba(107, 107, 190, 0.452);
}

#second-slide  {
    background-color: rgba(255, 255, 159, 0.562);

}

#third-slide {
    background-color: rgba(95, 160, 109, 0.486);
  
}

.slide {
    display: none;
}

.current-slide {
    display: grid;
}

